* {
    background: rgb(41, 41, 37);
    box-sizing: border-box;
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 5px;
}

img {
    max-width: 170px;
    max-height: 176px;
}

.container_1 {
    display: flex;
    margin: 0;
}
.container_2 {
    display: flex;
    margin: 0;
}